/* I noticed that there was a gap to the left of the hero img so I removed the default style in the html and body element */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
  }

header {
    display: flex;
    align-items: stretch;
    height: 120px;

  }

  #homeLogoBtn {
    cursor: pointer;
 border: none;
    color: none;   
    background-color: white;
padding:30px;
gap: 0;
justify-content: left;

    text-decoration: none;
    /* i struggled to understand why this element had so much of a gap to the left and right of the contained image and then i realized it must be a default setting and i was right! */
    width: 15%;
  }

/* the button defined the width of the parent container, we of course want the full photo do display and set the height to auto so it perfectly sizes itself and doesnt look stretched or distorted */
  .logobtn {
    width: 100%;
    height: auto;

  }


  /* The navigation menu */
.navbar {
    background-color: white;
    border: none;
    height: 100%;
    display: flex;

  }

  .navbar > ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: white;
    height: 100%;
    
  }

  .navbar > ul > li  {
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center ;

    /* position: relative; */
  }

  .navbar > ul > li > a {
    display:flex;
    color:#584743;
    padding: 16px;
    height: 100%;
    text-decoration: none;
    
    align-items: center;
  }

  .navbar a:hover{
    background-color: tan;
    cursor: pointer;

  }

  /* subnav */
 .navbar .subnav{
    position:relative;

}

 .navbar .subnavbtn{
    background-color: white;
    color: #584743;
    padding: 0px 16px 0px 16px;
    font-size: 16px;
    height: 100%;
    border:none;
    cursor:pointer;
}

.navbar .subnav-content {
    display: none;
    position: absolute;
    list-style-type: none;
    top:100%;
  
    background-color: white;
    color:#584743;
    min-width:200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

 .navbar.subnav-content a {
    color: #584743;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.navbar .subnav .subnav-content a:hover {
    background-color: light tan;
}

.navbar .subnav:hover .subnav-content{
    display:block;
    padding: 0px;
}

.navbar .subnav:hover .subnavbtn {
    background-color:light tan;

}


  .hero-section {
    width: 100%;
    /* background-image: url(/Images/hero.png); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    overflow-clip-margin:0px ;
    /* overflow: auto; */
  }

  .hero-section img {
    width: 100%;
    height: auto;
    display: block;
  }
  
