/* * {
    display:block;
} */
#header01 {
    width: 100%;
    max-width: 100vw;
    display: flex;
    z-index: 94;
  
    /* position: fixed; */
    height: 6em;
    /* min-height: 100%; */
    /* box-sizing: border-box; */

  }

button {
    background-color: white;
    border: none;
    color: none;
    /* padding: 15px 32px; */
    /* height: 20px; */
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    cursor: pointer;
  }
  #homeLogoBtn{
    justify-content: space-between;
    float: left;
    height: 4em;
  }
  .logobtn {
    height: 4em;
  }

  /* The navigation menu */
.navbar {
    overflow: visible;
    background-color: white;
    float: left;
    position: relative;
  }
  
  /* Navigation links */
  .navbar a {
    float: left;
    font-size: 16px;
    color: #584743;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The subnavigation menu */
  .subnav {
    position: relative;
    display: inline-block;
  }

  .subnavbtn {
    border: none;
    padding :16px;

  }
  
  /* Subnav button */
  .subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #584743;
    padding:  14px 16px;
    background-color: light tan;
    font-family: inherit;
    /* margin: 0; */
  }
  
  /* Add a red background color to navigation links on hover */
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: tan;
    position:relative;
    display:block;
  }
  
  /* Style the subnav content - positioned absolute */
  .subnav-content {
    display: none;
    position: absolute;
    background-color: white;
    width: fit-content;
    z-index: 1000;
  }
  
  /* Style the subnav links */
  .subnav-content a {
    color: #584743;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Add a grey background color on hover */
  .subnav-content a:hover {
    background-color: #e4d2ba;
    color: #584743;
    /* text-decoration: none; */
  }
  
  /* When you move the mouse over the subnav container, open the subnav content */
  .subnav:hover .subnav-content {
    display: block;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* wow, cannot believe that because this was set to hidden, that the drop down was getting cut off when it went past this element  */
    overflow: visible;
    background-color: white;
  }
  
.navPlacement {
    float: left;

    
  }
  
