/* I noticed that there was a gap to the left of the hero img so I removed the default style in the html and body element */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
  }

header {
    display: flex;
    align-items: stretch;
    height: 120px;
  }

  #homeLogoBtn {
    cursor: pointer;
 border: none;
    color: none;   
    background-color: white;
padding:30px;
gap: 0;
justify-content: left;

    text-decoration: none;
    /* i struggled to understand why this element had so much of a gap to the left and right of the contained image and then i realized it must be a default setting and i was right! */
    width: 15%;
  }

/* the button defined the width of the parent container, we of course want the full photo do display and set the height to auto so it perfectly sizes itself and doesnt look stretched or distorted */
  .logobtn {
    width: 100%;
    height: auto;

  }


  /* The navigation menus */
.navbar, .subnav {
    background-color: white;
    position: relative;
    border: none;
    height: 100%;
    display: flex;

  }

  .navbar > ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: white;
    height: 100%;
    
  }

  .navbar > ul > li  {
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center ;
  }

  .navbar > ul > li > a {
    display:flex;
    color:#584743;
    padding: 0px 16px 0px 16px;
    height: 100%;
    text-decoration: none;
    align-items: center;
  }

  .navbar a:hover{
    background-color: tan;
    cursor: pointer;

  }


/* button that will trigger the subnav content */
 .navbar .subnavbtn{
    background-color: white;
    color: #584743;
    padding: 0px 16px 0px 16px;
    font-size: 16px;
    height: 100%;
    border:none;
    cursor:pointer;
    font-family: "Times New Roman", Times, serif;
}

/* styling how our subcontent will look when displayed */
.navbar .subnav-content {
    display: none;
    position: absolute;
    list-style-type: none;
    top:100%;
    padding: 10px 10px 10px 10px;
    background-color: white;
    color:#584743;
    min-width:200px;
    z-index: 100;

    box-shadow: 10px 8px 16px 0px rgba(0,0,0,0.2);
}

 .navbar .subnav-content a {
    color: #584743;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* this one should be adding the light tan color to the background of the subnav content*/
.navbar .subnav .subnav-content a:hover {
    background-color: #eed9b6;
}

/* makes the subnav content appear when hovering over the subnav */
.navbar .subnav:hover .subnav-content{
    display:block;
    padding: 0px;
}


.navbar .subnav:hover .subnavbtn {
    background-color:tan;

}


  .hero-section {
    width: 100%;
    /* background-image: url(/Images/hero.png); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    overflow-clip-margin:0px ;
    /* overflow: auto; */
  }

  .hero-section img {
    width: 100%;
    height: 600px;
    display: block;
  }

  .center-container{
    position: relative;
  }

  .center {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: white;
    text-align: center ;
    /* text-shadow: 2px 2px 3px #584743; */
    z-index: 1;
    width: 80%;
    background-color: rgba(142, 145, 181, 0.5);
    border-radius: 30px;
    display: flex;
    flex-direction:column;

  } 

  .hero-text1 {
font-size: 80px;
padding: 35px 35px 10px 35px;
flex-direction:column;

}
  .hero-text2 {
    font-size: 60px;
    padding: 0px 25px 10px 25px;

      }

      .center-subhero{
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 0px 0px 35px 0px;
      }

    .hero-text3 {
    font-size: 80px;
    
    }

          .hero-text4 {
            font-size: 60px;
            justify-content: center;
            text-align: center;
            padding: 15px 0px 0px 15px;
              }
  
